@using Places.Models;

<h1>Places You've Been</h1>
@if (Model.Count == 0)
{
<p>You haven't been to any places yet.</p>
}
<ul>
  @foreach (Location location in Model)
  {
    <li><a href="/locations/@location.Id">@location.CityName</li>
  }
</ul>

<a href="/">Back to home</a>
<a href="/locations/new">Add another location</a>

<form action="/locations/delete" method="post">
  <button type="submit" name="button">Clear All Locations</button>
</form>